<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="de.fastr.phonegap.plugins.Progressbar" version="0.5.1">
	<name>Progressbar</name>
	<author>Fabian Strachanski</author>
	<description>shows thin progressbar when page changed for iOS and Android</description>
	<license>MIT</license>
	<keywords>useragent</keywords>
	<repo>https://github.com/fastrde/phonegap-progressbar.git</repo>
	<issue>https://github.com/fastrde/phonegap-progressbar/issues</issue>
	<asset src="www/progressbar.html" target="progressbar.html" />
	<platform name="android">
		<source-file src="src/android/Progressbar.java" target-dir="src/de/fastr/phonegap/plugins" />
 		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="Progressbar">
				<param name="android-package" value="de.fastr.phonegap.plugins.Progressbar"/>
				<param name="onload" value="true" />
			</feature>
		</config-file>
	</platform>
	<!--<platform name="ios">
		<header-file src="src/ios/CDVCheckGPS.h" />
		<source-file src="src/ios/CDVCheckGPS.m" />
		<config-file target="config.xml" parent="/*">
			<feature name="CheckGPS">
				<param name="ios-package" value="CheckGPS" />
			</feature>
		</config-file>
	</platform>-->
</plugin>
